<h1>Don't play with yourself!</h1>

<% @posts.each do |post| %>
  <% if !post.users.empty? %>
    <div class="post">
      <h1><%= link_to post.game.name, post.game.url %></h1>
      <% if !post.params.nil? %>
        <h2><%= post.params %></h2>
      <% end %>
      <% post.users.each do |player| %>
        <div class="request">
          <h3><%= player.username %> wants to play</h3>
          <% if player.id == session[:user_id] %>
            <%= button_to "Delete", { :action => "del_user", :id => post.id, :user_id => player.id }, :remote => true, :form_class => "delete_request", :confirm => "Are you sure?", :method => "delete" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
