<h1>Don't play with yourself!</h1>

<% @posts.each do |post| %>
  <div class="post">
    <% game = post.games.first %>
    <h1><%= link_to game.name, game.url %></h1>
    <h2><%= post.user.username %> wants to play</h2>
    <% if post.user.id == session[:user_id] %>
      <%= button_to "Delete", :action => "destroy" %>
    <% end %>
  </div>
<% end %>
