// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game {
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  border-radius: 15px;
  padding: 0.95em;
  overflow: auto;
  width: 45%;
  margin: 0.1em;
}

.game h1 {
  margin: 0.1em 0em;
  font-family: 'Rambla', sans-serif;
  font-weight: bold;
  font-size: 1.7em;
}

.game h1 a {
  text-decoration: none;
}

.game .user_listing {
  clear: both;
}

.game .user_listing h2 {
  margin: 0.1em 0em;
  font-family: 'Rambla', sans-serif;
  font-weight: normal;
  font-size: 1.4em;
}

.game .user_listing form {
  float: right;
}

.game .user_listing div.user_info {
  font-family: 'Rambla', sans-serif;
  font-style: italic;
  font-size: 1em;
  color: #787878;
  float: left;
  margin: 0em 0em 0em 0.5em;
}
